body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
    color: #f2ffff;
}

.content-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.all-but-footer {
    min-height: calc(100vh - 70px);
    overflow-x: hidden;
}

footer {
    height: 20px;
    margin-top: 50px;
    clear: both;
    text-align: center;
    display: block;
    background-color: #050505;
}

a {
    color: #455b74;
    font-family: "DejaVu Sans", serif;
}

a:active {
    color: #ff00ff;
}

a:link {
    color: #0064ff;
}

h1, h2, h3 {
    font-family: "DejaVu Sans", serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    margin-top: 30px;
    font-size: 20px;
}

* {
    font-family: "DejaVu Sans", serif;
}