
body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
    color: #f2ffff;
}

.content-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.all-but-footer {
    min-height: calc(100vh - 200px);
    overflow-x: hidden;
}

footer {
    margin-top: 50px;
    clear: both;
    height: 200px;
    display: flex;
    flex: 1;
    background-color: #050505;
}