<link rel="stylesheet" href="/static/css/full_editor.css">
<link rel="stylesheet" href="/static/css/editor.css">
<script src="/static/js/full_editor.js"></script>
<h1>GUI Editor</h1>
<div class="full">
    <div class="column left">
        <div class="column-top">
            <p>HTML</p>
            <textarea name="html-code" id="html-code"></textarea>
        </div>
        <div class="column-bottom">
            <p>CSS</p>
            <textarea name="css-code" id="css-code"></textarea>
        </div>
    </div>

    <div class="column right">

        <div>
            <p>Output</p>
            <div class="output-wrapper">
                <iframe class="output" id="result"></iframe>
            </div>
        </div>
        <div>
            <p>Log</p>
            <textarea name="log" id="log" disabled></textarea>
        </div>
    </div>
</div>