<link rel="stylesheet" href="/static/css/js_editor.css" type="text/css">
<link rel="stylesheet" href="/static/css/editor.css" type="text/css">
<script src="/static/js/js_editor.js"></script>
<h1>JS Editor</h1>
<div>
    <p>Code</p>
    <textarea name="code" id="code">
            console.log('Type here your code!');
        </textarea>
</div>
<div>
    <p>Output</p>
    <textarea name="code" id="result" disabled>
            Waiting...
        </textarea>
</div>
<div>
    <p>Log</p>
    <textarea name="code" id="log" disabled>
        </textarea>
</div>