<!-- args: msg -->
<link rel="stylesheet" href="/static/css/login.css">
<div class="box-wrapper">
    <div class="title">
        <h1>User login</h1>
        ${msg}
    </div>
    <div class="box">
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="text" value="" spellcheck="false" autofocus="" autocorrect="off" autocapitalize="off" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autocapitalize="none" spellcheck="false" autocomplete="password">
            <input type="text" name="extra" style="display: none" autocomplete="extra">
            <button type="submit">
                <span>Log In</span>
            </button>
        </form>
    </div>
</div>