<div class="navar">
    <div class="navar-item-wrapper">
        <div class="navar-item-wrapper-left">
            <a href="/">
                <div class="navar-item"><span>Home</span></div>
            </a>
            <a href="/notebook">
                <div class="navar-item"><span>Notebook</span></div>
            </a>
        </div>
        <div class="navar-item-wrapper-right">
            <a href="/login">
                <div class="navar-item"><span>Login</span></div>
            </a>
        </div>
    </div>
</div>