<div class="navar">
    <div class="navar-item-wrapper">
        <div class="navar-item-wrapper-left">
            <a href="/">
                <div class="navar-item"><span>Inicio</span></div>
            </a>
            <a href="/js-editor">
                <div class="navar-item"><span>JS editor</span></div>
            </a>
            <a href="/full-editor">
                <div class="navar-item"><span>HTML/CSS editor</span></div>
            </a>
        </div>
        <div class="navar-item-wrapper-right">
            <a href="/cart">
                <div class="navar-item"><span>Carrito</span></div>
            </a>
            <a href="/login">
                <div class="navar-item"><span>Login</span></div>
            </a>
        </div>
    </div>
</div>